.heroImage{
    background-image: url("../img/weather_BG.jpg");
    border-radius:0;
    height: 100vh;
    margin-bottom: 0;
    background-size: cover;
}
.alert{
    display:none;
}
#weather{
    font-family: "微軟正黑體";
    font-size: 50px;
    color: black;
}
p#search{
    font-family: "微軟正黑體";
}